{% extends "base.html" %}

{% block content %}

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
        th:nth-child(1), td:nth-child(1) {
            width: 30%;
        }

        th:nth-child(2), td:nth-child(2) {
            width: 50%;
        }

        th:nth-child(3), td:nth-child(3) {
            width: 20%;
        }
    </style>
    <body>
        <link rel = stylesheet href = "/static/css/menu.css">
        <h2>МЕНЮ</h2>
        <table>

            <tr>
                <th>Назва</th>
                <th>Інгридієнти</th>
                <th>Ціна</th>
            </tr>
            {% for pizza in data_menu %}
                <tr>
                    <td>
                        <a href="/pizza_info?pizzaname={{ pizza.name }}"> {{ pizza.name }} </a>
                    </td>
                    <td> {{pizza.ingredients}}</td>
                    <td> {{pizza.price}}</td>
                </tr>
            {% endfor %}
            </tr>
        </table>
    </body>
{% endblock content %}