{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Adress</th>
        <th>pizza_name</th>
        <th>Phone</th>
        <th>quantity</th>
    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ order[0] }}</td>
        <td>{{ order[1] }}</td>
        {% if order[2] %}
            <td>{{ order[2] }}</td>
        {% else %}
            <td>None</td>
        {% endif %}
        <td>{{ order[3] }}</td>
        <td>{{ order[4] }}</td>
        <td>{{ order[5] }}</td>

    </tr>
    {% endfor %}
</table>
{% endblock content %}