body {
    background: bisque;
    margin-top: 120px;
    text-align: center;
}

h1 {
    color: #9C1A1C;
    font-size: 11em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

image {
    image-rendering: auto;
    display: block;
}

a {
    color: #9C1A1C;
    font-size: 5em;
    font-family: 'Lucida Grande', Arial, sans-serif;
    padding: 150px;
}

.center-img,
.center-txt {
    display: inline-block;
    vertical-align: bottom;
}

#wrapper {
    text-align: unset;
    border: none;
    height: initial;
}

h2 {
    color: #9C1A1C;
    font-size: 6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    color: brown;
    font-size: 1em;
    background: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 2em;
    font-family: 'Lucida Grande', Arial, sans-serif;

}

button {
    color: white;
    width: 220px;
    height: 100px;
    font-size: 2em;
    background: #3A7734;
    border: none;
    border-radius: 10px;
}