body {
    background: bisque;
    margin-top: 100px;
    text-align: center;
}

table {
    color: brown;
    font-size: 1em;
    font-family: "Arial Black";
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    padding: 20px;
}