body {
    background: bisque;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

button {
    background: burlywood;
    border: #9C1A1C;
    padding: 15px 30px;
    font-size: 20px;
    flex-grow: unset;
    cursor: pointer;
}

input {
    font-size: 20px;
    font-family: 'Lucida Grande', Arial, sans-serif;
    background: antiquewhite;
    border-radius: 10px;
    border-color: burlywood;

}

form {
    font-size: 20px;
    font-family: 'Lucida Grande', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;

}

table, th, td {
    border-collapse: collapse;
    border: 2px solid black;
    font-size: 25px;
}